div {
    width: 100%;
    display: flex;
    justify-content: center;
}

mat-card {
    max-width: 312px;
    position: relative;
    float: left;
    border-radius: 4%;
}

mat-card:not(:last-child) {
    margin-right: 14px;
}

mat-card-header {
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: end;
}

mat-card-header mat-card-title {
    width: 290px;
    font-size: 25px;
    font-weight: 600;
}

mat-card-header mat-card-subtitle {
    width: 100%;
    font-size: 15px;
}

mat-card-content {
    margin-bottom: 15px;
}

mat-card-content p {
    text-align: justify;
}

mat-card-actions {
    width: 100%;
    justify-content: center;
}
