<div>
    <mat-card>
        <mat-card-header>
            <mat-card-title>70 peças</mat-card-title>
            <mat-card-subtitle>7 x 10</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image width="100%" src="https://raw.githubusercontent.com/icarobianco/puzzle/c422575feb6e873b7d6e9e3e51c3e467f87fbe18/src/assets/turtle.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>SELECT</button>
        </mat-card-actions>
    </mat-card>
    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title>375 peças</mat-card-title>
            <mat-card-subtitle>15 x 25</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image width="100%" src="https://raw.githubusercontent.com/icarobianco/puzzle/c422575feb6e873b7d6e9e3e51c3e467f87fbe18/src/assets/turtle.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>SELECT</button>
        </mat-card-actions>
    </mat-card>
    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title>1500 peças</mat-card-title>
            <mat-card-subtitle>30 x 50</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image width="100%" src="https://raw.githubusercontent.com/icarobianco/puzzle/c422575feb6e873b7d6e9e3e51c3e467f87fbe18/src/assets/turtle.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>SELECT</button>
        </mat-card-actions>
    </mat-card>
</div>