<div>
    <mat-card appearance="outlined">
        <mat-card-content>
            <img width="70px" height="70px"
                src="https://www.reshot.com/preview-assets/icons/A2JNR7LKVE/view-image-A2JNR7LKVE.svg"
                (click)="fileInput.click()">
            <input hidden (change)="onFileSelected($event)" #fileInput type="file" name="image" accept="image/*">
        </mat-card-content>
        <mat-card-actions>
            Upload Image
        </mat-card-actions>
    </mat-card>
</div>