div {
    width: 100%;
    padding: 15px;
    text-align: center;
}

img {
    cursor: pointer;
}

mat-card {
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 4%;
}

mat-card-content {
    margin: auto;
    width: 50%;
}

mat-card-actions {
    width: 100%;
    justify-content: center;
}