<div class="inputFile">
    <div class="watermarked">
        <img *ngIf="data.img" [src]="data.img" alt="data Logo" class="thumb" (click)="fileInput.click()">
    </div>
    <img *ngIf="!data.img"
        src="https://cdn-assets-eu.frontify.com/s3/frontify-enterprise-files-eu/eyJwYXRoIjoid2VhcmVcL2ZpbGVcL01uWjc4RDF1V2pnbzhBUkxVSGQzLnBuZyJ9:weare:1xUfSJ5wT_EHupK1IW9eirrR739Luv4H3t5tuQr_ZiM?width=1200"
        alt="Image" class="thumb" (click)="fileInput.click()">
    <input hidden (change)="onFileSelected($event)" #fileInput type="file" name="image" required>
</div>