<div>
    <table>
        <tr>
            <td>
                <mat-card appearance="outlined">
                    <mat-card-content>
                        <img src="https://www.reshot.com/preview-assets/icons/TKSEYGQVN5/cloud-upload-TKSEYGQVN5.svg" width="50px" height="50px" />
                        <p>
                        Faça o upload da imagem em nosso sistema.
                        </p>
                    </mat-card-content>
                </mat-card>
            </td>
            <th>
                <img src="https://www.reshot.com/preview-assets/icons/WDGHUKQ634/arrow-chevron-right-WDGHUKQ634.svg" width="50px" height="50px" />
            </th>
            <td>
                <mat-card appearance="outlined">
                    <mat-card-content>
                        <img src="https://www.reshot.com/preview-assets/icons/MX7HQFEN3D/puzzle-MX7HQFEN3D.svg" width="50px" height="50px" />
                        <p>
                        Selecione a quantidade de peças e o material.
                        </p>
                    </mat-card-content>
                </mat-card>
            </td>
            <th>
                <img src="https://www.reshot.com/preview-assets/icons/WDGHUKQ634/arrow-chevron-right-WDGHUKQ634.svg" width="50px" height="50px" />
            </th>
            <td>
                <mat-card appearance="outlined">
                    <mat-card-content>
                        <img src="https://www.reshot.com/preview-assets/icons/QGUVL87XKY/dollar-arrow-QGUVL87XKY.svg" width="50px" height="50px" />
                        <p>
                        Escolha uma formas de pagamento.
                        </p>
                    </mat-card-content>
                </mat-card>
            </td>
            <th>
                <img src="https://www.reshot.com/preview-assets/icons/WDGHUKQ634/arrow-chevron-right-WDGHUKQ634.svg" width="50px" height="50px" />
            </th>
            <td>
                <mat-card appearance="outlined">
                    <mat-card-content>
                        <img src="https://www.reshot.com/preview-assets/icons/S6JTX3PQ4G/delivery-S6JTX3PQ4G.svg" width="50px" height="50px" />
                        <p>
                        Aguarde, logo o quebra-cabeça será enviado.
                        </p>
                    </mat-card-content>
                </mat-card>
            </td>
        </tr>
    </table>
</div>